/**
 * A Symphony extension enabling addition of documentation
 * to any page in the back end, including user-defined
 * section indexes and entry editors.
 */

[id="documenter-drawer"] ol {
	list-style-type: none;
	counter-reset: section;
}

[id="documenter-drawer"] ol li {
	counter-increment: section;
}

[id="documenter-drawer"] ol li:before {
	content: counters(section, ".") ". ";
}

.documenter-content {
	margin-top: var(--standard-outer-rhythm);
}

.documenter-content *+* {
	margin-top: var(--standard-inner-rhythm);
}

[id="extension-documenter-edit"] fieldset {
	margin: var(--standard-outer-rhythm) auto;
	max-width: var(--dimension-smallest);

}

[id="extension-documenter-edit"] fieldset>*+* {
	margin-top: var(--standard-inner-rhythm);
}

/* Force select element to span entire sidebar height --------*/
[id="extension-documenter-edit"] [id="secondary"] fieldset {
	display: contents;
}

[id="extension-documenter-edit"] [id="secondary"] label {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-top: var(--standard-outer-rhythm);
}

[id="extension-documenter-edit"] [id="secondary"] select {
	flex-grow: 1;
}